.online-container {
    padding-left: 20px;
    width: 13%;
    z-index: 1;
    box-shadow: -4px 1px 5px -4px rgba(0, 0, 0, 0.75);
}

.user-list-item {
    list-style-type: none;
    position: relative;
}

.user-list-item .circle {
    position: relative;
    right: 19px;
    top: 17px;
    width: 10px;
    height: 10px;
    background-color: #1b5e20;
    border-radius: 50%;
}

.hidden-online-user {
    display: none;
}

.btn-online {
    display: none;
    color: #fff;
    background-color: #323232;
    padding: 5px;
    position: fixed;
    top: 15px;
    margin-top: -5px;
    right: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    transform: translateZ(0);
    backface-visibility: hidden;
}


/* media */
@media screen and (max-width: 1000px) {
    .btn-online {
        display: block;
        right: 10px;
        padding-left: 12px;
    }

    .hidden-online-user:checked ~ .btn-online {
        right: 10px;
    }

    .hidden-online-user ~ .online-container {
        display: none;
    }

    .hidden-online-user:checked ~ .btn-online .fa-chevron-down {
        transition: all 0.5s ease-out;
        transform: rotate(180deg);
    }

    .hidden-online-user:checked ~ label + .online-container {
        border-radius: 5px;
        display: block;
        position: fixed;
        z-index: 2;
        right: 10px;
        background-color: #fff;
        bottom: 11px;
        top: 14px;
        width: 150px;
    }

    .user-list{
        margin-left: -28px;
        font-size: 15px;
    }
}