
.form-input {
    margin: 20px auto;
    width: 80%;
}

.text-field {
    width: 80%;
    margin-bottom: 20px;
}

.form-input .fas{
    position: absolute;
    left: 9px;
}

.form-input .btn-send{
    margin-left: 10px;
}