.form-input {
    margin: 20px auto;
    width: 86%;
    display: flex;
    justify-content: space-between;
}

.text-field {
    width: 87%;
    margin-bottom: 20px;
}

.form-input .fas{
    position: absolute;
    left: 9px;
}

.form-input .btn-send{
    margin-left: 10px;
}