.chat-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.message-container{
    position: relative;
    width: 76%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .message-container{
        width: 100%;
    }
}