.message-block{
    display: grid;
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    position: absolute;
}

.thread-container{
    margin-top: 50px;
    height: 86vh;
}

.thread-container .thread {
    margin-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.message-wrapper{
    display: flex;
    margin: 0 100px 14px 100px;
}

.message-wrapper .data {
    order: 2;
    height: 100%;
    margin-left: 25px
}

.message-wrapper .name {
    font-size: 15px;
    margin-top: 5px;
    text-align: left
}

.message-wrapper .message {
    background: #e0e0e0;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-sizing: border-box;
    color: black;
    height: 100%;
    padding: 10px 15px;
    max-width: 50em;
    word-wrap: break-word;
    position: relative;
}

.message-wrapper .message::before {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #e0e0e0;
    border-style: solid;
    border-top-color: #e0e0e0;
    border-width: 4px;
    content: '';
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0
}

.message-wrapper.right-message {
    text-align: left;
    justify-content: flex-end
}

.message-wrapper.right-message .time {
    order: 2;
    margin-left: 25px
}

.message-wrapper.right-message .data {
    margin-left: 0;
    order: 1
}

.message-wrapper.right-message .name {
    display: none
}

.message-wrapper.right-message .message {
    background: #8fb4fc;
    color: #fff;
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    max-width: 50em;
}

.message-wrapper.right-message .message::before {
    border-top-color: #8fb4fc;
    border-left-color: #8fb4fc;
    border-right-color: transparent;
    left: auto;
    right: -7px
}


/* media */
@media screen and (max-width: 1600px) {
    .message-wrapper {
        margin: 0 80px 14px 58px;
    }
    .message-wrapper .message, .message-wrapper.right-message .message{
        max-width: 34em;
    }
}

@media screen and (max-width: 1100px) {
    .message-wrapper {
        margin: 0px 28px 14px 28px;
    }
    .message-wrapper .message{
        max-width: 20em;
    }
    .message-wrapper.right-message .message{
        max-width: 25em;
    }
}

@media screen and (max-width: 600px) {
    .message-wrapper .message{
        max-width: 15em;
    }
    .message-wrapper.right-message .message{
        max-width: 15em;
    }
}


@media screen and (max-width: 450px){
    .thread-container{
        height: 80vh;
    }

    .message-wrapper{
        margin: 0px 14px 14px 7px;
    }
    .message-wrapper .message{
        max-width: 14em;
        font-size: 0.8rem;
    }
    .message-wrapper.right-message .message{
        max-width: 14em;
        font-size: 0.8rem;
    }
}




